body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#header-action {
    background-image: url("../images/run-child.jpeg");
}

#secundary-action {
    font-size: 15px;
}


/* General */

.center {
    text-align: center;
}