.main-content {
    margin-top: 120px;
}

.container {
    max-width: 920px;
}

.header img {
    float: left;
    width: 90px;
    height: 90px;
}

.header a {
    margin-top: 15px;
    margin-right: 10px;
}

.caption {
    font-style: normal;
    text-align: left;
}

.btn-default:hover,
.btn-default:focus {
    background-color: lightcoral;
    border: 1px coral;
}

.weekly-build {
    font-weight: bold;
    margin: 0;
}

.subheader {
    text-align: center;
}

.panel-default>.panel-heading.panel-extra {
    color: #a94442;
    background-color: #f2dede;
    ;
}