.main-content {
    margin-top: 120px;
}

.container {
    max-width: 920px;
}

.header img {
    float: left;
    width: 90px;
    height: 90px;
}

.header a {
    margin-top: 15px;
    margin-right: 10px;
}